.a {
    color: red;
    .abc {
        background: none;
    }
}
bdy {
    text-align: center;
    height: 1px;
    h1 {
        bottom: solid black;
    }
    p {
        margin: 10px;
    }
}
.abc {
    height: 199px;
}
.fdf{
    background-origin: padding-box;
}
.fgdf{
    background-origin: padding-box;
}
